body{
    margin:0%;
}

.noborder{
    height:45px;
    border: none;
}

.noborder:focus-visible{
    outline: none;
}

.box{
    color:white;
    padding:0px;
    font-size:100px;
    text-align:center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    /**width:
    calc(33.333333333333333333%-20px);**/
}

.three{
    width:80%;
}

.two{
    width:10%;
}

.four{
    width:10%;
}

.flexbox{ /**container**/
    display:flex;
    flex-direction:column;
    border:10px solid goldenrod;
    height:100vh;
    box-sizing:border-box;
    flex-wrap:wrap;
    justify-content:space-around;

}

.one{background:#f00}
.two{background:#0f0}
.three{background:#00f}
.four{background:#ff0}
.five{background:#0ff}