body{
    font-family: "Arial", sans-serif;
    margin:15px
}


/**For my header**/


.header{

    display:flex;
    justify-content:flex-end;

}

.header > .links{

    display:flex;
    align-items:center;
    justify-items:center;
    padding-left:20px;
    padding-right:20px;

}

.header > .links > img{

    cursor: pointer;

}

.header > .links > a{

    color:#000;
    text-decoration: none;

}


.header > .links > a:hover{

    text-decoration:underline;

}

.header > .ninedot{

    position:relative;
    display:inline-block;

    border-radius: 9999px;
    text-align: center;

    width:50px;
    height:50px;

    margin-right:0px;

    cursor: pointer;

}

.ninedot > img{
    
    margin-top:15px;
    color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    border: none;

}

.dropdown-content{

    display:none;
    position:fixed;
    /**margin-top:15px;**/
    top:65px;
    right:15px;

    border-radius: 10px;
    background-color:#FFF;
    width:300px;
    height:500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content > div{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    box-sizing:border-box;
    width:130px;
    height:130px;
    padding:20px;
    margin:10px;

    cursor: pointer;

    border-radius:10px;

}

.dropdown-content > div:hover{

    background-color:#bad5e6;

}

.ninedot:hover {
    background-color: #BBB;
}

.show {

    display:flex;
    padding:10px;
    flex-wrap: wrap;

}




/**Main content**/

.main-logo {
    padding-top:200px;
    display: block;
    margin: auto;   
    padding-bottom:50px;
}

.search-bar-form {
    
    display: block;
    margin: auto;
    width: fit-content;

    width: inherit;
    margin: none;

    height: inherit;

}

.search-text{
    height:auto;
    border: none;
    width: 100%;

    font-size:1.2em;
}

.search-text:focus-visible{
    outline: none;
}

.search-bar {
    
    margin: auto;
    width: 600px;
    border: 0.05em solid #BBB;
    border-radius: 9999px;
    height:3em;

    display: flex;
    flex-direction:row;
    justify-content:center;

}

.search-bar:hover{

    box-shadow: -1px 2px #DADADA;

}

.search-bar:focus{

    box-shadow: -1px 2px #DADADA;

}

.left-box{

    display:flex;
    width:40px;
    justify-content: center;
    align-items: center;

}

.right-box{
    
    display:flex;
    width:40px;
    justify-content: center;
    align-items: center;

}

.center-box{

    display: flex;
    
    width:520px;
    
}






/**For search buttons.**/

.buttons-container{

    display:flex;
    justify-content: space-between;
    margin:auto;
    margin-top:40px;
    width: 420px;

}

.button{


    display:flex;    
    justify-content: center;
    align-items: center;
    width:200px;

    background-color:#F3F3F3;
    color: #333;

    padding-top:10px;
    padding-bottom:10px;
    font-size:1.1em;


    border-radius:5px;
    border: 2px solid #EEE;

}

.button:hover{

    border-radius:5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

}



/**Create a footer**/

.footer { 
    position:fixed;
    left:0;
    bottom:0;

    display:flex;
    background-color:#EEE;

    height:50px;

    width:100%;

}

.leftfooter{
    
    width:70%;
    display:flex;
    justify-content:flex-start;

}

.rightfooter{

    width:30%;
    display:flex;
    justify-content:flex-end;

}



.footer > div > .links{

    display:flex;
    align-items:center;
    justify-items:center;
    padding-left:20px;
    padding-right:20px;


}

.footer > div > .links > a{

    color:#555;
    font-size:0.9em;
    text-decoration: none;

}


.footer > div > .links > a:hover{

    text-decoration:underline;

}






















/**Some testing stuff**/


.box{
    color:white;
    padding:0px;
    font-size:100px;
    text-align:center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}

.three{
    width:80%;
}

.two{
    width:10%;
}

.four{
    width:10%;
}

.flexbox{ /**container**/
    display:flex;
    flex-direction:column;
    border:10px solid goldenrod;
    height:100vh;
    box-sizing:border-box;
    flex-wrap:wrap;
    justify-content:space-around;

}

.one{background:#f00}
.two{background:#0f0}
.three{background:#00f}
.four{background:#ff0}
.five{background:#0ff}


